@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

body {
  margin: 0 auto;
  text-align: center;
  margin-top: 20%;
  color: white;
  font-size: x-large;
  background-color: rgb(29, 28, 28);
}