@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  margin: 0;
  background-color: #1e1e1f;
  font-family: 'Give You Glory', cursive;
}

.name {
  color: #6e4394;
  font-size: 80px;
  font-weight: bolder;
  line-height: 1;
}

.menu {
  margin: 0 auto;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  position: fixed;
}

.photo-github {
  height: 30px;
  width: 30px;
}

.photo-medium {
  height: 35px;
  width: 35px;
}