@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");

.general-container {
  height: auto;
  width: auto;
}
.nav-bar-container {
  margin-bottom: 5%;
  column-gap: 50px;
}
.feo {
  font-family: GilroyBold;
  margin-left: -1.8%;
  font-size: 1.4rem;
}
.topnav ul {
  display: flex;
  margin: 0 -10px;
}
.push-right {
  margin-left: auto;
}
.bio-container {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.card-1 {
  display: flex;
  flex-direction: wrap;
  padding-top: 2rem;
}
.card-item-bio {
  flex: 50%;
}
.full-name {
  font-family: GilroyBold;
  width: 70%;
  height: auto;
  font-size: 4rem;
}
.bio-text {
  font-family: GilroyLight;
  margin-top: -8%;
  width: 100%;
  font-size: 1rem;
  word-spacing: 0.5px;
  line-height: 1.5;
}
.profile-img-container {
  margin: 0 auto;
  width: 50%;
  height: auto;
  background-color: red;
}
.profile-img {
  margin-left: 15%;
  width: 80%;
}
.cbanks-dance {
  width: 10%;
  height: 10%;
  margin-left: 50%;
  margin-right: 50%;
}
.grad-school {
  color: #fadadd;
}
.work-container {
  display: flex;
  flex-direction: column;
}
.subheader-1 {
  font-family: "Splash", cursive;
  font-size: 3rem;
  text-align: center;
}
.card-2 {
  display: flex;
  margin-top: 20px;
}
.card-item {
  flex: 50%;
  width: 60%;
  background: #151515;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.card-item-2 {
  flex: 50%;
  width: 60%;
  background: #151515;
  border-radius: 10px;
  margin-right: 20%;
  margin-left: 20%;
  text-align: left;
}
.cool-thing {
  font-family: GilroyLight;
  width: 70%;
  margin: 0 auto;
}
.listt {
  list-style: circle;
}
.next-opp {
  text-shadow: 1px 1px #fadadd;
}
.canal-street {
  color: #fadadd;
}
.card-item:hover {
  background: #151515;
  border: 1px solid #606060;
  box-sizing: border-box;
  box-shadow: inset 15px 25px 100px rgba(83, 83, 83, 0.6);
  border-radius: 10px;
}
.card-text-1 {
  margin-left: 4%;
  font-size: 14px;
  text-transform: uppercase;
  color: #b7b7b7;
}
.card-text-2 {
  padding: 20px 20px;
  height: 40%;
  font-size: 1rem;
  font-family: GilroyLight;
  line-height: 22px;
  color: #f9f9f9;
}
.tech-blog-container {
  display: flex;
  flex-direction: column;
}
.subheader-2 {
  padding-top: 1%;
  font-size: 3rem;
  font-family: "Splash", cursive;
  text-align: center;
}
.date {
  font-weight: 500;
  font-size: 0.7em;
  line-height: 1;
  color: #b7b7b7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 0.5%;
}
.list {
  margin: 0 auto;
  word-break: break-all;
  font-family: GilroyLight;
  font-size: 1em;
  border: 1px solid #606060;
  box-sizing: border-box;
  border-radius: 10px;
  width: 60%;
  height: 105px;
  padding: 20px;
  text-align: center;
}
.button-container {
  margin: 0 auto;
}
.button {
  display: block;
  max-width: 300px;
  margin: auto;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.footer-container {
  font-family: GilroyLight;
  color: #b7b7b7;
  margin-bottom: 5%;
  column-gap: 20px;
}
.footer ul {
  display: flex;
  margin: 0 -10px;
}
.icons {
  height: 24px;
  width: 24px;
}

@media only screen and (max-width: 800px) {
  .general-container {
    overflow-x: hidden;
  }
  .nav-bar-container {
    margin-bottom: 5%;
    column-gap: 35px;
    display: block;
    max-width: 300px;
  }
  .feo {
    margin-top: 0.1%;
  }
  .topnav ul {
    margin: 0 auto;
    text-align: center;
  }
  .topnav li {
    font-size: 0.7rem;
  }
  .push-right {
    margin-left: 0;
  }
  .bio-container {
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    max-width: 100%;
  }
  .card-1 {
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    flex-flow: column-reverse;
  }
  .profile-img {
    width: 50%;
    overflow-x: hidden;
    display: block;
    margin: 0 auto;
  }
  .full-name {
    font-size: 2rem;
    width: 100%;
    padding-bottom: 5%;
    text-align: center;
  }
  .bio-text {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    overflow: hidden;
  }
  .card-text-2 {
    font-size: 0.9rem;
  }
  .work-container {
    flex-flow: row wrap;
    display: block;
  }
  .subheader-1 {
    font-size: 2rem;
    text-align: center;
  }
  .subheader-2 {
    font-size: 2rem;
  }
  .list {
    width: 80%;
    font-size: 0.9rem;
  }
  .card-2 {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
  }
  .card-item {
    margin-bottom: 13px;
  }
  .card-item-2 {
    margin-bottom: 13px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .designer {
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: 8%;
  }
  .footer-container {
    max-width: 100%;
  }
}
