@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fredoka:wght@300..700&family=Montserrat:wght@200&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.comfortaa {
  font-family: 'Comfortaa', sans-serif;
  font-optical-sizing: auto;
}

.mulish {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
}

.other-text {
  color: #fed8d7;
}

.outlined-text {
  font-family: 'Comfortaa', cursive;
  font-size: 48px;
  color: black;
  -webkit-text-stroke: 1.5px white;
}

.outlined-text-shadow {
  font-family: 'Comfortaa', cursive;
  font-size: 48px;
  color: black;
  background-color: black;
  text-shadow:
    1px 1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white;
}
