@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    margin: 0;
    background-color: #1e1e1f;
    font-family: 'Give You Glory', cursive;
}

.name {
    color: #6e4394;
    font-size: 80px;
    font-weight: bolder;
    line-height: 1;
}

.about {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

.about-title {
    color: #6e4394;
    font-family: 'Give You Glory', cursive;
}

.about-tools {
    color: #6e4394;
    font-family: 'Give You Glory', cursive;
}

.about-things {
    color: #6e4394;
    font-family: 'Give You Glory', cursive;
}

.things {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

.photo-node {
    height: 30px;
    width: 55px;
}

.photo-express {
    height: 30px;
    width: 120px;
}

.photo-ts {
    height: 40px;
    width: 40px;
}

.photo-git {
    height: 40px;
    width: 40px;
}

.photo-react {
    height: 50px;
    width: 80px;
}

.photo-redux {
    height: 40px;
    width: 45px;
}

.photo-apiary {
    height: 40px;
    width: 40px;
}

.photo-swagger {
    height: 40px;
    width: 40px;
}

.photo-tracker {
    height: 40px;
    width: 40px;
}

.photo-trello {
    height: 40px;
    width: 40px;
}

.photo-figma {
    height: 40px;
    width: 30px;
}

.photo-postgres {
    height: 45px;
    width: 45px;
}

.photo-mongo {
    height: 60px;
    width: 70px;
}

.photo-css {
    height: 50px;
    width: 35px;
}

.photo-docker {
    height: 50px;
    width: 50px;
}

.photo-webpack {
    height: 50px;
    width: 50px;
}

.photo-heroku {
    height: 50px;
    width: 50px;
}

.photo-netlify {
    height: 50px;
    width: 50px;
}

.photo-circle {
    height: 40px;
    width: 40px;
}

.photo-travis {
    height: 40px;
    width: 40px;
}

.photo-seq {
    height: 40px;
    width: 40px;
}

footer {
    color: white;
    text-align: center;
}


  /* Responsive text */
@media only screen and (max-width: 600px) {
    .name {
        font-size: 20px;
    }
  }
